/* Universal Styles */
html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
/* Navigation Section */

.navbar-default .navbar-nav {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  background-color: inherit;
  color: #399bd1;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Jumbotron Section */

.jumbotron {
  background-image: url("../images/jumbotron-bike.jpg");
  text-align: center;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  color: #ffffff;
  text-shadow: .1rem .1rem .1rem #000000;
  font-size: 7.1rem;
  padding-top: 11.85rem;
}

.jumbotron p {
  color: #ffffff;
  text-shadow: .1rem .1rem .1rem #000000;
  padding-bottom: 2.8rem;
  max-width: 51.3rem;
  margin: auto;
}

.btn-primary {
  margin-bottom: 11.85rem;
  background-color: #399bd1;
  padding: 1.3rem;
  width: 11.4rem;
  font-size: 1.5rem;
}

.btn-primary:hover {
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.9)
}

.btn-primar:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5)
}
